.<div class="container-fluid">

  <div class="row d-flex align-items-center">
    <div class="col-md-6"> <!-- divisão bootstrap de tela -->

      <div class="row d-flex justify-content-center">
        <div class="col-md-6">

        <!-- Login --- campo usuario e senha -->
          <h1 class="text-center mb-3">Login</h1>
          <div class="form-group">
            <label for="usuario"></label>
            <input type="text" name="usuario" id="usuario" class="form-control" placeholder="e-mail" aria-describedby="helpId">
          </div>

          <div class="form-group">
            <label for="senha"></label>
            <input type="password" name="senha" id="senha" class="form-control" placeholder="senha" aria-describedby="helpId">
            <small id="helpId" class="text-muted">Esqueceu a senha? </small>
          </div>

            <!-- login / Cadastro -->
          <div class="d-flex justify-content-center">
            <button class="btn btn-outline-info" type="submit"> Entrar <i
              class="" aria-hidden="true"></i></button>
          </div>
          <hr class="mt-5 mb-5">
          <p class="text-center">Não tem uma conta? <a routerLink="/cadastrar"> Cadastre-se </a> </p>
          <!-- href é sempre usado para links EXTERNOS, para links INTERNOS se usa routerLink -->


        </div>

      </div>

    </div>
    <div class="col-md-6 img-fluid" id="img-bg"></div> <!-- divisão bootstra de tela -->
  </div>

</div>

