<div class="container-fluid">
  <div class="row">

    <div class="col-md-6" id="img-bg"></div>

    <div class="col-md-6 mt-5 mb-5">

      <div class="row d-flex justify-content-center">
        <div class="col-md-10">

          <h2 class="text-center">Cadastrar</h2>

          <div class="form-group">
            <label for="nome">Nome</label>
            <input type="text" name="nome" id="nome" class="form-control" placeholder="Seu nome">
          </div>

          <div class="form-group">
            <label for="e-mail">E-mail</label>
            <input type="text" name="usuario" id="usuario" class="form-control" placeholder="Seu e-mail">
          </div>

          <div class="form-group">
            <label for="foto">Foto Usuario</label>
            <input type="text" name="foto" id="foto" class="form-control"
              placeholder="Insira um link valido da sua foto">
          </div>

          <div class="form-group">
            <label for="senha"> Insira sua senha </label>
            <input type="password" name="senha" id="senha" class="form-control" placeholder="Senha">
          </div>

          <div class="form-group">
            <label for="confirmesenha"> Confirme sua Senha </label>
            <input type="password" name="confirmesenha" id="confirmesenha" class="form-control"
              placeholder="Insira novamente sua senha" aria-describedby="helpId">
            <small id="helpId" class="text-muted"> Sua senha deve conter no minimo 5 caracteres entre numeros e letras!
            </small>
          </div>

          <div class="form-group">
            <label for="tipo">Tipo de Usuario</label>
            <select class="form-control" name="tipo" id="tipo">
              <option>Selecione seu tipo de conta</option>
              <option value="normal">Usuario Padrão</option>
              <option value="adm">Administrador</option>
            </select>
          </div>

          <!-- botões da tela de cadastro -->
          <!-- Lembrar que o nome associado ao botão sera usado em rotas! -->
          <div class="d-flex justify-content-center">
            <button type="submit" class="btn btn-outline-success mr-4">Cadastrar</button> <!-- inclusão de routerlink no botão para retornar a pagina inicial -->
            <button type="submit" class="btn btn-outline-danger" routerLink='/login'>Cancelar</button>
          </div>



        </div>

      </div>

    </div>

  </div>


</div>